<div class="container" *ngIf="currentProduct">
  <div class="col-sm-8 col-sm-offset-2" >
    <form #f="ngForm" (ngSubmit)="editProduct(f.value)">
      <div class="form-group">
        <label for="des">Designation</label>
        <input type="text" id="des"  class="form-control" name="designation" [(ngModel)]="currentProduct.designation">
      </div>
      <div class="form-group">
        <label for="prix">Prix</label>
        <input type="text" id="prix"  class="form-control" name="prix" [(ngModel)]="currentProduct.prix">
      </div>
      <div class="form-group">
        <label for="qte">Qunatité</label>
        <input type="text" id="qte" class="form-control" name="quantite" [(ngModel)]="currentProduct.quantite">
        <button type="submit" class="btn btn-success">update</button>
      </div>
    </form>
  </div>
</div>
